<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>week5.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>week5.models.Authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>User.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>week5.models.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComentariosControlador</servlet-name>
        <servlet-class>controlador.ComentariosControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComentariosDAO</servlet-name>
        <servlet-class>modelo.ComentariosDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComentariosPOJO</servlet-name>
        <servlet-class>modelo.ComentariosPOJO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>Registro.Registro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/Authentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComentariosControlador</servlet-name>
        <url-pattern>/ComentariosControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComentariosDAO</servlet-name>
        <url-pattern>/ComentariosDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComentariosPOJO</servlet-name>
        <url-pattern>/ComentariosPOJO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
